.TodoItem {
    position: relative;
    background-color: #FAFAFA;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .15);
    min-width: 327px;
    height: 100px;
    list-style: none;
    margin-bottom: 25px;
}

.TodoItem-p {
    position: absolute;
    left: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.8rem;
    color: #1E1E1F;
    height: 100%;
    width: 200px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
    color: rgba(157, 157, 157, 0.802);
}