.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.Icon-container-check {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Icon-container-delete {
  position: absolute;
  top: 0;
  right: -5%;
  transform: translate(-50%, -50%);
}
.Icon-container-delete:hover {
  color: red;
}

.Icon-svg {
  width: 24px;
  height: 24px;
}

.Icon-container-check:hover .Icon-svg {
  fill: green;
}
.Icon-container-delete:hover .Icon-svg {
  fill: red;
}